<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!DOCTYPE html>

<head>
    <!-- Необходимые Мета-теги всегда на первом месте -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Администратор</title>



    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <link href="/bootstrap-4.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">-->
</head>

    <header>

        <div class="row">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin" th:href="@{/admin}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  "  href="/createsprav" th:href="@{/createsprav}">Редактировать справочники</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/" th:href="@{/}">Выйти</a>
                </li>
            </ul>

        </div>

    </header>


<body>

<h1 style="margin-left:50px; margin-bottom: 50px; margin-top: 25px">Администратор</h1>


<div class="container" style="margin-left: 200px">

    <form class="form-horizontal" action="/createaccount" th:href="@{/createaccount}" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>Создание нового пользователя</legend>

            <h2 style="margin-left: 400px; color: #761c19"><span th:text="${error}"></span> </h2>
            <!--<h2 style="margin-left: 400px; color: #761c19"><span th:text="${newuser.name}"></span> </h2>-->

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="role1">Роль</label>
                <div class="col-md-6">
                    <select id="role1" name="role1" class="form-control">
                        <option value="1">Администратор</option>
                        <option value="2">Старший врач</option>
                        <option value="3">Заведующий отделением</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Фамилия</label>
                <div class="col-md-8">
                    <input id="name" name="name" placeholder="Фамилия" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="surname">Имя</label>
                <div class="col-md-8">
                    <input id="surname" name="surname" placeholder="Имя" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="patronym">Отчество</label>
                <div class="col-md-8">
                    <input id="patronym" name="patronym" placeholder="Дата рождения" class="form-control input-md" required="" type="text" >

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="birthsday">Дата рождения</label>
                <div class="col-md-8">
                    <input id="birthsday" type="text" name="birthsday" placeholder="Дата рождения" class="form-control input-md" required >

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dolznost">Должность</label>
                <div class="col-md-8">
                    <input id="dolznost" name="dolznost" placeholder="Должность" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="login">Логин</label>
                <div class="col-md-8">
                    <input id="login" name="login" placeholder="Логин" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Пароль</label>
                <div class="col-md-8">
                    <input id="password" name="password" placeholder="Пароль" class="form-control input-md" required="" type="password1">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password2">Повторить пароль</label>
                <div class="col-md-8">
                    <input id="password2" name="password2" placeholder="Пароль" class="form-control input-md" required="" type="password1">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button id="button1id" type="reset" name="button1id" class="btn btn-info">Отмена</button>
                    <button id="button2id" type="submit" name="button2id" class="btn btn-danger">Создать</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>



</body>
</html>