<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!DOCTYPE html>

<head>
    <!-- Необходимые Мета-теги всегда на первом месте -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Зав. Отделением</title>
    <!--<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!-- Bootstrap CSS -->
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.svg">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">-->
</head>
<header>
    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="/zav" th:href="@{/zav}">Домой</a></li>
        <li role="presentation" class="active"><a href="zavotdpremium.html" th:href="@{/zavotdpremium}">Рассчитать премию</a></li>
        <li role="presentation"><a href="#">Посмотреть ошибки</a></li>
        <li role="presentation"><a href="/" th:href="@{/}">Выйти</a></li>
    </ul>

</header>

<body>

<table class="table table-striped table-hover table-bordered">

    <thead class="thead thead-light">

    <tr>

        <th scope="col">Номер карты вызова</th>
        <th scope="col">Дата</th>
        <th scope="col">Описание ошибки</th>
        <th scope="col">Балл ошибки</th>
        <th scope="col">Группа вызова</th>
        <th scope="col">Описание вызова</th>
        <!--<th scope="col">Баллы</th>-->
        <!--<th scope="col">Премия</th>-->

    </tr>
    </thead>
    <tbody>


    <div>
        <h2><span th:text="${doctor.name}+' ' + ${doctor.surname}">DOCTOR</span></h2>
    </div>

    <tr th:each="itm :${errorlist}"  >

        <th scope="row" th:text="${itm.idCalls}"></th>
        <td   th:text="${itm.dateOfCall}"></td>
        <!--<td   th:text="${itm.personal.name}"></td>-->
        <td   th:text="${itm.doctorsErrors.errorsCharacter}"></td>
        <td   th:text="${itm.doctorsErrors.errorScale}"></td>
        <td   th:text="${itm.resultOfDoctorsCalls.rus_describe_result}"></td>
        <td   th:text="${itm.description_of_call}"></td>

        <!--<td th:text="${resultlist.get(itm).errors}"></td>-->
        <!--<td  th:text="${#numbers.formatDecimal(resultlist.get(itm).getLoad(),0 , 1)}"></td>-->
        <!--<td th:text="${resultlist.get(itm).ball}"></td>-->
        <!--<td th:text="${#numbers.formatDecimal(resultlist.get(itm).premium, 0,2)}"></td>-->

    </tr>

    </tbody>
</table>



<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>