<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!DOCTYPE html>

<head>
    <!-- Необходимые Мета-теги всегда на первом месте -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Зав. Отделением</title>
    <!--<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!-- Bootstrap CSS -->
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.svg">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">-->
</head>
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="#">Home</a></li>
    <li role="presentation" class="active"><a href="zavotdpremium.html" th:href="@{/zavotdpremium}">Рассчитать премию</a></li>
    <li role="presentation"><a href="#">Посмотреть ошибки</a></li>
</ul>

</head>
<body>

<h1>Заведующий отдклением</h1>






<table class="table table-striped table-hover table-bordered">

    <thead class="thead thead-light">

    <tr>

        <th scope="col">ID</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Вызова</th>
        <th scope="col">Ошибки</th>
        <th scope="col">Баллы</th>
        <th scope="col">Премия</th>

    </tr>
    </thead>
    <tbody>

    <!--<ul>-->
        <!--<li th:each="key: ${personal.keySet()}">-->
            <!--<span th:text="${key}"></span> = <span th:text="${map.get(key)}"></span>-->
        <!--</li>-->
    <!--</ul>-->

    <tr th:each="itm :${personal.keySet()}">

        <th scope="row" th:text="${itm}"></th>
        <td > <a th:href="@{${personal.get(itm)}}" th:text="${personal.get(itm).name}"></a></td>
        <td th:text="${personal.get(itm).surname}"></td>
        <td th:text="${personal.get(itm).patronymic}"></td>
        <!--<td th:text="${resultlist.get(itm).calls}"></td>-->
        <!--<td th:text="${resultlist.get(itm).errors}"></td>-->
        <!--<td th:text="${resultlist.get(itm).ball}"></td>-->
        <!--<td th:text="${resultlist.get(itm).premium}"></td>-->

    </tr>

    </tbody>
</table>


<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>