<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!DOCTYPE html>

<head>
    <!-- Необходимые Мета-теги всегда на первом месте -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Зав. Отделением</title>

    <!--<style>-->
    <!--.table-fixed thead {-->
    <!--width: 97%;-->
    <!--}-->
    <!--.table-fixed tbody {-->
    <!--height: 230px;-->
    <!--overflow-y: auto;-->
    <!--width: 100%;-->
    <!--}-->
    <!--.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {-->
    <!--display: block;-->
    <!--}-->
    <!--.table-fixed tbody td, .table-fixed thead > tr> th {-->
    <!--float: left;-->
    <!--border-bottom-width: 0;-->
    <!--}-->
    <!--</style>-->

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <link href="/bootstrap-4.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">-->
</head>
<header>
    <!--<ul class="nav nav-tabs">-->
    <!--<li role="presentation" ><a href="#">Home</a></li>-->
    <!--<li role="presentation" class="active"><a href="zavotdpremium.html" th:href="@{/zavotdpremium}">Рассчитать премию</a></li>-->
    <!--<li role="presentation"><a href="#">Посмотреть ошибки</a></li>-->
    <!--<li role="presentation"><a href="/" th:href="@{/}">Выйти</a></li>-->
    <!--</ul>-->

    <header>

        <div class="row">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " href="/admin" th:href="@{/admin}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active"  href="#" th:href="@{#}">Редактировать справочники</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/" th:href="@{/}">Выйти</a>
                </li>
            </ul>

        </div>

    </header>

</header>

<body>

<h1 style="margin-left:50px; margin-bottom: 50px; margin-top: 25px">Администратор</h1>


<div class="container" style="margin-left: 200px">

    <form class="form-horizontal" action="#" method="get">
        <fieldset>

            <!-- Form Name -->
            <legend>Создание нового пользователя</legend>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Выбрать справочник</label>
                <div class="col-md-6">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Администратор</option>
                        <option value="2">Старший врач</option>
                        <option value="3">Заведующий отделением</option>
                    </select>
                </div>
            </div>


            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button id="button1id" name="button1id" class="btn btn-info">Отмена</button>
                    <button id="button2id" name="button2id" class="btn btn-danger">Создать</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>



</body>
</html>